h1 {
    text-align: center;
}
.time {
    text-align: center;
}
.btn {
    background-color: blueviolet;
    color: white;
    text-align: center;
}
.buttonList {
    background-color: blueviolet;
    color: white;
    text-align: center;
}
.choices  {
    background-color: blueviolet;
    color: white;
    text-align: center;
}